*{
    margin:0;
    padding:0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("w3.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 110px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0px;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;

}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.text-box h1{
    font-size: 60px;

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}
.hero-btn{
    display: inline;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #7C3E66; 
    background: #7C3E66;
    transition: 1s;
}
/*--service--*/
.service{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.service h1{
    font-size: 70px;
    font-weight: 600;
}
.service p{
    color: #000;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.service-col{
    flex-basis: 32%;
    background: #FFEDED;
    border-radius: 10px;
    margin-bottom: 30px;
    /*padding: 20px 10px;
    box-sizing: border-box;*/
    position: relative;
    overflow: hidden;
    
}
.service-col img{
    width: 100%;
}
.service-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.service-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.8);
}

/*---others----*/
.others{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.others h1{
    font-size: 70px;
    font-weight: 600;
}
.others p{
    color: #000;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.others-col{
    flex-basis: 32%;
    background: #FFEDED;
    border-radius: 10px;
    margin-bottom: 30px;
    /*padding: 20px 10px;
    box-sizing: border-box;*/
    position: relative;
    overflow: hidden;
    
}
.others-col img{
    width: 100%;
}
.others-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.others-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.8);
}
/*testimonials*/
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonials h1{
    font-size: 40px;
}

.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
    background: #98B4AA;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials-col img{
    height: 150px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonials-col p{
    padding: 0;
}
.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonials-col .fa-solid{
    color:rgb(206, 158, 68);
}
/* call to action*/
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("talking.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.footer{
    width:1400px; min-height:400px;
    background-color: #1c2b3a;
    margin:auto auto;
    padding: 20px 0px;

}
.footer ul{
    list-style: none;
}
.footer-col h4{
    font-size: 25px;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 400;
    position: relative;

}
.footer-col ul a{
    color: #bbbbbb;
    text-decoration: none;
    position: relative;
}
.footer-col ul li{
    color: #bbbbbb;
    text-decoration: none;
    position: relative;
}
.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f44336;
    height: 2px;
    box-sizing: border-box;
    width: 180px;
}
.footer-col .icons a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
   
}
.branding{
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    padding-top: 14px;
}
